/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #009961;
}

a:hover {
  color: #00cc81;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.h-80{
  height: 80px;
}
.h-300{
  height: 300px;
}
.box-shadow-grey{
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.bg-white{
  background-color: #fff;
}
.p-30{
  padding: 0 30px;
}
.main-color{
  color: #172B4D;
}
.font-16{
  font-size: 16px;
}
.text-underline{
  text-decoration: underline;
}
.border-rounded-15{
  border-radius: 15px;
}
.w-md{
  width: 812px;
}
@media(max-width: 768px){
  .w-md{
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
}
.fixed-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: transparent;
}

#header.header-scrolled, #header.header-inner-pages {
  background: rgba(40, 40, 40, 0.9);
}

#header .logo {
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    border: 0;
    padding: 15px 0;
  }
}

/* Main Button */
.main-btn {
  margin-left: 25px;
  background: #D1D111;
  color: #172B4D;
  border-radius: 5px;
  padding: 0 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 16px;
  display: inline-block;
  height: 48px;
  line-height: 48px;
}

.main-btn:hover {
  background: #004518;
  color: #fff;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 768px;
  background: url("../img/main.png") top center;
  background-size: cover;
}

@media (max-width:768px){
  #hero  {
    justify-content: center;
  }
  #hero .container {
    padding-top: 0;
  }
}

#hero .container {
  padding-top: 100px;
  position: relative;
  text-align: center;
}
@media (max-width:768px){
 
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 120px;
  font-weight: 700;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 54px;
}

form {
  display: inline-block;
  margin: 0 auto;
}
.pseudo-search {
  display: block;
  border-radius: 100px;
  padding: 10px 15px;
  background-color: #fff;
  width: 50vw;
  height: 80px;
  margin: auto;
}
@media (max-width: 768px){
  .pseudo-search{
    width: 95%;
  }
}
.pseudo-search input {
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.pseudo-search input:focus {
  outline: none;
}
.pseudo-search button,
.pseudo-search i {
  border: none;
  background: none;
  cursor: pointer;
}
.pseudo-search select {
  border: none;
}

#hero .btn-search {
  height: 43px;
  width: 186px;
  margin: 0 auto;
  background: #004518;
  border-radius: 20px;
  display: block;
  overflow: hidden;
  position: relative;
  color: #fff;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #8fffd6;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #172B4D;
}

/*--------------------------------------------------------------
# commerces
--------------------------------------------------------------*/
.commerces .icon-box {
  margin-bottom: 40px;
}


.commerces .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 18px;
  color: #172B4D;
}

.commerces .icon-box h4 a {
  color: #282828;
}

.commerces .icon-box p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
  color: #172B4D;
  opacity: 0.5;

}

